.card {
	width: 30%;
	/*only centering it until I add more projects*/
	margin: auto;
	padding: 10px;
}

/* img.card-img-top {
	display: none;
	visibility: hidden;
} */

.card-title {
	text-transform: uppercase;
	font-weight: bold;
}

#project-link {
	margin-bottom: 0.2rem;
}

.card-subtitle {
	font-size: 1.1em;
	padding-bottom: 1rem;
}

#dev-icons {
	font-size: 1.4rem;
}

#no-dev-icons {
	font-size: 0.8rem;
}

#project-link > a {
	color: inherit;
}

#project-link > a:hover {
	text-decoration: none !important;
	color: #007bff;
}

/* centers the cards on smaller screens */
/*@media screen and (min-width: 1440px) {
	.card {
		width: 30%:
		margin: auto;
		padding: 10px;
	}
}*/

@media screen and (max-width: 1024px) {
	.card {
		width: 50%;
		margin: auto;
		padding: 10px;
	}
}

@media screen and (max-width: 425px) {
	.card {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
}