h2 {
	display: inline-block;
}

hr {
	border-top: 0px solid #000 !important;
	padding: 0;
	margin-top: 0.2em !important;
	border-width: 1px !important;
}

.works > h2 > a, .contact > h2 > a {
	color: inherit;
	pointer-events: none;
}

.site-content {
  flex: 1;
  padding: 3rem 5rem;
}

.works, .contact {
	text-align: center;
}

.works > hr {
	margin-top: 0px;
}

.container {
	width: 75%;
	margin: 0px auto;
}

.project-group {
	padding-bottom: 5rem;
}

.contact {
	width: 40%;
	margin: auto;
}

/* centers the cards on smaller screens */
@media screen and (max-width: 1024px) {
	.contact {
		width: 60%;
		margin: auto;
	}
}

@media screen and (max-width: 768px) {
	.contact {
		width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.site-content {
		flex: 1;
		padding: 3rem 1rem;
	}
}