.site-header {
	color: #007bff;
}

#profile-pic {
	border-radius: 50%;
	width: 65px;
	height: 65px;
}

.profile-info {
	color: #fff;
	padding-left: 1.5vh;
	display: inline-block;
	vertical-align: middle;
}

.profile-info > #name {
	text-transform: uppercase;
}

.profile-info > #career-title {
	font-size: 0.85em;
}
