.site-footer {
	background-color: #343a40;
	box-sizing: border-box;
	text-align: center;
	color: #999;
	line-height: 20px;
	padding: 1rem;
}

.site-footer > div {
	padding: 0px 0px;
}

#social-media > a {
	padding-right: 0.7rem;
}

#credit {
	font-size: .85em;
}